[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if 0:
    if False:

    # Main block
    if __name__ == .__main__.:

    # TYPE_CHECKING
    if T.TYPE_CHECKING

[run]
omit =
    */__main__.py
